---
---

$header_height: 50px;

html, body {
    height: 100%;
}

header {
    nav {
        min-height: $header_height;
        line-height: $header_height;

        .navbar-brand {
            padding: 10px 15px;

            img {
                height: 100%;
            }
        }

        .navbar-nav {
            margin-top: $header_height - 50px;
        }
    }
}

footer {
    background-color: #333;
    color: #aaa;
    height: 100%;
    padding-top: 20px;

    h1, h2, h3 {
        color: white;
        margin: 0;
        text-transform: uppercase;
    }

    .footer-nav {
        margin: 20px 0;

        ul {
            margin: 0;

            li {
                a {
                    font-size: 18px;
                    color: #aaa;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }

        img {
            margin-right: 20px;
        }
    }

    .copyright {
        border-top: 1px solid #202020;
        font-size: 12px;
        padding: 20px 0;
    }
}

#content {
    margin-top: $header_height;
}

.navbar-kabbage {
    background-color: #a8cf39;

    .icon-bar {
        background-color: black;
    }

    .nav {
        a {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;

            &:hover {
                color: #333;
                background-color: transparent;
            }
        }

        .active {
            a {
                color: #333;
            }

            background: url('https://kabbage-media-user.s3.amazonaws.com/Media/Default/Images/Mashery/arrow.png') center bottom no-repeat;
            padding-bottom: 7px;
            margin-bottom: -7px;
        }
    }
}

.post-date {
    color: #aaa;
    font-size: .9em;
}
