<header>
    <nav class="navbar navbar-kabbage navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{{ '/img/logo.png' | prepend: site.baseurl }}" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ site.portal_url}}">Home</a></li>
                    <li class="active"><a href="#">Dev Blog</a></li>
                    <li><a href="{{ '/docs' | prepend: site.portal_url}}">Docs</a></li>
                    <li><a href="{{ site.portal_url}}">API Explorer</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
